.eat-button {
  border: none;
  background-color: #F4F4F4;
  color: #4EC068;
  font-size: 24px;
}

.delete-button {
  color: #73c070;
  border: none;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
}

.button-shopping-list {
  color: #F4F4F4 !important;
  border: none;
  background-color: #4EC068;
  font-size: 16px;
  height: 49px;
  width: 14vmax;
  // padding-top: 12px;
  text-align: center;
  // justify-content: center;
  // align-items: center;
  border-radius: 5px;
  position: absolute;
  bottom: 19px;
  right: 11px;
}
