.navbar-lewagon {
  justify-content: space-between;
  background: #4EC068 ;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-shopping-list-link {
  color: #e9eaea !important;

}

.navbar-shopping-list-link-red {
  color: #f50404 !important;
  text-decoration: none;
}

.list_number {
  font-size: 25px;
}
.shopping-list-index-container{
  margin-top: 163px
}
.navbar-icon-and-name-container {
  margin-bottom: -8%;
}
i.navbar-icon {
  display: block;
  text-align: center;
  width: 56px;
}
